In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
#store file path in a variable  
json_path = os.path.join ("Resources","purchase_data.json") 

#Import the purchase data json file as a DataFrame

purchase_data = pd.read_json(json_path)
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [49]:
#Player Count- Using the length of the unique screen names

player_count = len(purchase_data['SN'].unique())

#Convert the player count series into a dataframe

player_count_df = pd.DataFrame([{'Total Players': player_count}])

#resetting the index to total players
 
Total_players = player_count_df.set_index('Total Players')
Total_players

Empty DataFrame
Columns: []
Index: [573]

In [47]:
# Purchasing analysis

# Number of Unique Items
unique_items = len(purchase_data["Item ID"].unique())
unique_items 

# Average Purchase Price
ave_price = round (purchase_data["Price"].mean(), 2)
ave_price

# Total Number of Purchases
tot_pur = purchase_data["Price"].count()
tot_pur

# Total Revenue
tot_rev = round (purchase_data["Price"].sum(),2)
tot_rev

total_analysis_df = pd.DataFrame ({ 'Number of Unique Items': [unique_items],
                                    'Average Purchase Price': [ave_price],
                                    'Total Number of Purchases': [tot_pur],
                                    'Total Revenue': [tot_rev]
                                   })

 
 
total_analysis_df.style.format({'Average Purchase Price': '${:.2f}', 'Total Revenue': '${:,.2f}'})

In [104]:
#Gender Demographics

#Get the total number of unique players
totalcount = purchase_data["SN"].nunique()

#Number of male players
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()

#Number of female players
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()

#Number of non_disclosed players
non_disclosed = totalcount - (malecount + femalecount)

#Calculating percentages
perc_male = (malecount/totalcount)*100
perc_female = (femalecount/totalcount)*100
perc_non_disclosed = (non_disclosed/totalcount)*100

#Creating a data frame

gender_demo_df = pd.DataFrame ({"Gender":["Male","Female","Non-disclosed"],
                                           "Number of players":[malecount, femalecount, non_disclosed],
                                           "Percentage of players":[perc_male, perc_female,perc_non_disclosed]})
                                           
gender_demo_df

reset_index = gender_demo_df.set_index("Gender")
reset_index

reset_index.style.format({"Percentage of Players": "{:.2f}%"})

In [108]:
male_purchase = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
female_purchase = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()
other_purchase = total_purchases - (male_purchase + female_purchase)

ave_price_male = purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean()
ave_price_female = purchase_data[purchase_data["Gender"] == "Female"]['Price'].mean()
ave_price_other = purchase_data[purchase_data["Gender"] == "Non-disclosed"]['Price'].mean()

tot_price_male = purchase_data[purchase_data ["Gender"] == "Male"]['Price'].sum()
tot_price_female = purchase_data[purchase_data["Gender"] == "Female"]['Price'].sum()
tot_price_other = purchase_data[purchase_data["Gender"] == "Non-disclosed"]['Price'].sum()

male_norm = tot_price_male/malecount
female_norm = tot_price_female/femalecount
other_norm = tot_price_other/non_disclosed

gender_purchase_df = pd.DataFrame({"Gender": ["Male", "Female", "Non-Disclosed"], 
                                   "Purchase Count": [male_purchase, female_purchase, other_purchase],
                                    "Average Purchase Price": [ave_price_male,ave_price_female,ave_price_other], 
                                    "Total Purchase Value": [tot_price_male, tot_price_female, tot_price_other],
                                    "Normalized Totals": [male_norm, female_norm, other_norm]}, 
                                  columns = 
                ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
                                        
gender_purchase = gender_purchase_df.set_index("Gender")
gender_purchase.style.format({"Average Purchase Price": "${:.2f}", 
                              "Total Purchase Value": "${:.2f}", "Normalized Totals": "${:.2f}"})

In [ ]:
# Age Demographics
#Creating bins

bins = [ < 10, 10-14,15-19,20-24,25-29,30-34,35-39, > 40]

 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals