In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
#store file path in a variable  
json_path = os.path.join ("Resources","purchase_data.json") 

#Import the purchase data json file as a DataFrame

purchase_data = pd.read_json(json_path)
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
#Player Count- Using the length of the unique screen names

player_count = len(purchase_data['SN'].unique())
player_count

573

In [12]:
#Convert the player count series into a dataframe

player_count_df = pd.DataFrame([{'Total Players': player_count}])

#resetting the index to total players
 
Total_players = player_count_df.set_index('Total Players')
Total_players

Empty DataFrame
Columns: []
Index: [573]

In [47]:
# Purchasing analysis

# Number of Unique Items
unique_items = len(purchase_data["Item ID"].unique())
unique_items 

# Average Purchase Price
ave_price = round (purchase_data["Price"].mean(), 2)
ave_price

# Total Number of Purchases
tot_pur = purchase_data["Price"].count()
tot_pur

# Total Revenue
tot_rev = round (purchase_data["Price"].sum(),2)
tot_rev

total_analysis_df = pd.DataFrame ({ 'Number of Unique Items': [unique_items],
                                    'Average Purchase Price': [ave_price],
                                    'Total Number of Purchases': [tot_pur],
                                    'Total Revenue': [tot_rev]
                                   })

 
 
total_analysis_df.style.format({'Average Purchase Price': '${:.2f}', 'Total Revenue': '${:,.2f}'})

In [ ]:
#Gender Demographics
 

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed